*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color:rgb(220, 192, 220) ;
}

#panel{
    overflow: hidden;
    background-color: white;
    width: 80%;
    height: 80%;
    border-radius: 10px;

}

#ptop{
   padding: 0px 30%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    height: 14%;
    background-color: rgb(177, 107, 177);
}

.elem{
align-items: center;
display: flex;
gap: 20px;


   
}

.box{
   color: rgb(76, 15, 59);
  font-weight: 850;
   padding: 10px;
   font-size: 20px;
  background-color: rgb(250, 250, 250);
    border-radius: 5px;
}

#pbtm{
     display: flex;
  flex-wrap: wrap;
    padding: 20px;
    width: 100%;
   height: 86%;
    
    
}


.elem h2{
    font-weight: 500;
}


.bubble{
   align-items: center;
   justify-content: center;
   color: rgb(239, 239, 239);
    display: flex;
    width: 60px;
    height: 60px;
    border-radius:50%; 
    background-color: rgb(173, 69, 156);
    margin:4.5px;

}

.bubble:hover {

     cursor: pointer;
     background-color: rgb(103, 22, 75);
}

